Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

*.scrollBar: false
*.scrollWithBuffer: true
*.cursorBlink:1
*.font: SF Pro Display 12

